.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.logos span {
  font-size: 30px;
  opacity: 0.5;
}

.vite {
  will-change: filter;
  transition: filter 300ms;
}

.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.gui {
  will-change: filter;
  transition: filter 300ms;
}

.gui:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readTheDocs {
  color: #888;
}

